/*
Link: https://codepen.io/swards/pen/gxQmbj
*/

body {
    font-family: helvetica;
    display: flex ;
    flex-direction: column;
    align-items: center;
  }
  
  .chat {
    border: solid 1px #EEE;
    background-color: #183a5c;
    display: flex;
    flex-direction: column;
    padding: 10px;
  }
  
  .messages {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
  }
  
  .message {
    border-radius: 20px;
    padding: 8px 15px;
    margin-top: 5px;
    margin-bottom: 5px;
    display: inline-block;
  }
  
  .friend {
    align-items: flex-start;
  }
  
  .friend .message {
    margin-right: 25%;
    background-color: #eee;
    position: relative;
  }
  
  .user {
    align-items: flex-end;
  }
  
  .user .message {
    color: white;
    margin-left: 25%;
    background: linear-gradient(to bottom, #00D0EA 0%, #0085D1 100%);
    background-attachment: fixed;
    position: relative;
  }